<section id="contact">
    <app-pop-up *ngIf="showMessage"></app-pop-up>
    <div class="container">
        <div class="title">
            <h1 *ngIf="(en$ | async)">Contact</h1>
            <h1 *ngIf="(de$ | async)">Kontakt</h1>
            <div class="bar"></div>
        </div>
        <div class="contact-content">
            
            <div class="content-left">
                <div class="content-title">
                    <div class="bar"></div>
                    <h2 *ngIf="(en$ | async)">Got a problem to solve?</h2>
                    <h2 *ngIf="(de$ | async)">Haben Sie ein Problem zu lösen?</h2>
                </div>
                <span *ngIf="(en$ | async)">Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</span>
                <span *ngIf="(de$ | async)">Kontaktieren Sie mich über dieses Formular, ich freue mich darauf, von Ihnen zu hören, Ihre Ideen kennenzulernen und mit meiner Arbeit zu Ihren Projekten beizutragen.</span>
                <span *ngIf="(en$ | async)">Need a Frontend developer? <b>Contact me!</b></span>
                <span *ngIf="(de$ | async)">Brauchen Sie einen Frontend-Entwickler? <b>Kontaktieren Sie mich!</b></span>
            </div>
            <div class="content-right">
                <form  [formGroup]="registerForm"  (ngSubmit)="onSubmit()" >
                    <div class="input-container">
                        <img *ngIf="succesFcMessage('name')" src="/assets/img/Frame (1).svg" alt="">
                        <img *ngIf="errorFcMessage('name')" src="/assets/img/Frame.svg" alt="">
                        <input type="text" 
                            placeholder="Name" 
                            class="field" 
                            formControlName="name" 
                            [class.border-red]="errorFc('name')"
                            [class.border-green]="succesFcMessage('name')"
                            >
                        <span *ngIf="( en$ | async ) && errorFcMessage('name')" class="message" id="messageName">Your name is required</span>
                        <span *ngIf="( de$ | async ) && errorFcMessage('name')" class="message" id="messageName">Ihr Name wird benötigt</span>
                    </div>

                    <div class="input-container">
                        <img *ngIf="succesFcMessage('email')" src="/assets/img/Frame (1).svg" alt="">
                        <img *ngIf="errorFc('email')" src="/assets/img/Frame.svg" alt="">
                        <input type="email" 
                            placeholder="E-mail" 
                            class="field" 
                            formControlName="email" 
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                            [class.border-red]="errorFc('email')"
                            [class.border-green]="succesFcMessage('email')">
                           
                        <span *ngIf="( en$ | async ) && errorFc('email')" class="message" id="messageEmail">Your email is required</span>
                        <span *ngIf="( de$ | async ) && errorFc('email')" class="message" id="messageEmail">Ihre E-Mail wird benötigt</span>
                    </div>
                    <div class="input-container">
                        <img *ngIf="succesFcMessage('message')" src="/assets/img/Frame (1).svg" alt="">
                        <img *ngIf="errorFcMessage('message')" src="/assets/img/Frame.svg" alt="">
                        <textarea 
                            placeholder="Message" 
                            class="text-field" 
                            formControlName="message"
                            [class.border-red]="errorFc('message')"
                            [class.border-green]="succesFcMessage('message')"
                            >
                        </textarea>
                        <span *ngIf="( en$ | async ) && errorFcMessage('message')" class="message" id="messageMessage">Your message is empty</span>
                        <span *ngIf="( de$ | async ) && errorFcMessage('message')" class="message" id="messageMessage">Ihre Nachricht ist leer</span>
                    </div>
              
                    <div class="checkbox-container">
                    <div class="checkbox">
                        <div class="checkbox-box">
                            <input formControlName="policy" type="checkbox" id="policyCheckbox" name="policy" (change)="toggleSubmitState()" >
                        </div>
                        <span *ngIf="(en$ | async)">I've read the<a (click)="scrollToTop()" routerLink="/privacy-policy" > privacy policy</a> and agree to the processing of my data as outlined</span>
                        <span *ngIf="(de$ | async)">Ich habe die<a (click)="scrollToTop()" routerLink="/privacy-policy" > Datenschutzerklärung</a> gelesen und stimme der Verarbeitung meiner Daten wie beschrieben zu</span>

                    </div>
                    <span *ngIf="(en$ | async)" class="message none" id="policyMessage">Please accept the privacy policy</span>
                    <span *ngIf="(de$ | async)" class="message none" id="policyMessage">Bitte akzeptieren Sie die Datenschutzerklärung</span>
                    </div>
              
                    <button *ngIf="(en$ | async)" type="submit"  
                            [ngClass]="{'enabled-btn': policyAccepted, 'disabled-btn': !policyAccepted}" 
                            (click)="showPolicyMessage()" >Send message :)
                    </button>
                    <button *ngIf="(de$ | async)" type="submit"  
                            [ngClass]="{'enabled-btn': policyAccepted, 'disabled-btn': !policyAccepted}" 
                            (click)="showPolicyMessage()" >Senden :)
                    </button>
                            
                </form>
              </div>
        </div>
        <a class="back" href="#"><img src="/assets/img/UPbtn.svg" alt="arrow up"></a> 
    </div>
    <img class="shadow" src="/assets/img/Purple shadow 2.svg" alt="shadow">
    
  
</section>
