
<section id="about-me">
    <div class="container">
        <div class="content">
            <div class="content-text">
                <h1>About me</h1>
                <div class="content-1">
                    <p>
                        Hello and welcome to my website! I am thrilled that you've taken the time to visit. As a dedicated Fullstack Developer based in Zürich, Switzerland, I thrive on solving problems and embracing new challenges.
                    </p>
                </div>
                <div class="content-2">
                    <img src="/assets/img/bulb desktop.svg" alt="">
                    <p>
                        My passion lies in crafting creative and effective solutions to enhance digital experiences. The diversity and dynamism of programming continually inspire me, driving me to innovate and excel.
                    </p>
                </div>
                <div class="content-3">
                    <img src="/assets/img/puzzle.svg" alt="">
                    <p>
                        One of my personal strengths is my quick grasp of concepts. I seize every opportunity to deepen and improve my skills. This allows me to innovate and enhance complex code effectively, developing efficient solutions.                
                    </p>
                </div>
            </div>
            <div class="content-img">
                <img src="/assets/img/safa.png" alt="">
                <div class="background-shapes">
                    <img src="/assets/img/photo shadows.svg" alt="">
                </div>
            </div>
        </div>
        <div class="background-shape">
            <img src="/assets/img/Vector-2.svg" alt="">
        </div>
    </div>
   
    
</section>
