<section id="about-me">
    
    <div class="content">
        <div class="content-text">
            <h1>About me</h1>
            <div class="content-1">
                <p>
                    Hi, I'm Safa Shamari, a dedicated Full-Stack Developer with a flair for creating innovative and efficient code. My expertise lies in developing digital solutions that streamline everyday tasks, both professionally and personally. I am passionate about transforming complex problems into seamless, user-friendly applications that enhance productivity and simplify life.
                </p>
            </div>
            <div class="content-2">
                <img src="/assets/img/bulb desktop.svg" alt="">
                <p>
                    My strength is problem-solving, honed through my technical education. I excel at diving into complex code, fixing issues, and evolving software to find optimal solutions.
                </p>
            </div>
            <div class="content-3">
                <img src="/assets/img/puzzle.svg" alt="">
                <p>
                    One of my personal strengths is my quick grasp of concepts. I seize every opportunity to deepen and improve my skills. This allows me to innovate and enhance complex code effectively, developing efficient solutions.                
                </p>
            </div>
        </div>
        <div class="content-img">
            <img src="/assets/img/photo.svg" alt="">
            <div class="background-shapes">
                <img class="shadows" src="/assets/img/photo shadows.svg" alt="">
            </div>
        </div>
        <div class="background-shape">
            <img src="/assets/img/Vector-2.svg" alt="">
        </div>
        
    </div>
    
    
</section>
