<section id="skills">
    <div class="container">
        <div class="skills-icon">
            <div class="icon">
                <img src="/assets/img/Js.svg" alt="js">
                <img src="/assets/img/Git.svg" alt="git">
                <img src="/assets/img/Scrum.svg" alt="scrum">
                <img src="/assets/img/Test A.svg" alt="Material">
            </div>
            <div class="icon">
                <img src="/assets/img/Angular.svg" alt="Angular"> 
                <img src="/assets/img/Firebase.svg" alt="Firebase">
                <img src="/assets/img/Rest API.svg" alt="API">
            </div>
            <div class="icon">
                <img src="/assets/img/Ts.svg" alt="Ts"> 
                <img src="/assets/img/CSS.svg" alt="CSS">
            </div>
            <div class="icon">
                <img src="/assets/img/Column 4.svg" alt="">
            </div>
            
        </div>
        <div class="skills-content">
            <div class="content-header">
                <h1>Skills</h1>
                <div class="bar"></div>
            </div>
            <div class="content-mid">
                <span>
                    I have gained experience in building projects with various front end technologies and concepts.
                </span>
            </div>
            <div class="content-bottom">
                <button>
                    Get in touch
                </button>
            </div>
        </div>
    </div>
</section>
