<section id="skills">
    <div class="container">
        <div class="skills-icon">
            <div class="icon">
                <img src="/assets/img/Js.svg" alt="js">
                <img src="/assets/img/Git.svg" alt="git">
                <img src="/assets/img/Scrum.svg" alt="scrum">
                <img src="/assets/img/Test A.svg" alt="Material">
            </div>
            <div class="icon">
                <img src="/assets/img/Angular.svg" alt="Angular"> 
                <img src="/assets/img/Firebase.svg" alt="Firebase">
                <img src="/assets/img/Rest API.svg" alt="API">
            </div>
            <div class="icon">
                <img src="/assets/img/Ts.svg" alt="Ts"> 
                <img src="/assets/img/CSS.svg" alt="CSS">
            </div>
            <div class="icon">
                <img src="/assets/img/Column 4.svg" alt="">
            </div>
           
        </div>
        <div class="skills-content">
            <div class="content-header">
                <h1 *ngIf="(en$ | async)">Skills</h1>
                <h1 *ngIf="(de$ | async)" [class.bar-width]="(de$ | async)">Fähigkeiten</h1>
                <div [class.bar-width]="(de$ | async)" class="bar"></div>
            </div>
            <div class="content-mid">
                <span *ngIf="(en$ | async)">
                    I have gained experience in building projects with various front end technologies and concepts.
                </span>
                <span *ngIf="(de$ | async)">
                    Ich habe Erfahrungen im Aufbau von Projekten mit verschiedenen Frontend-Technologien und Konzepten gesammelt.
                </span>
            </div>
            <div class="content-bottom">
                <a href="#contact">
                    <button *ngIf="(en$ | async)">
                        Get in touch
                    </button>
                    <button *ngIf="(de$ | async)">
                        Kontaktier mich
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
