section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

.landingPage{
    z-index: 2;
}

.aboutMe {
    z-index: 1;
}