<footer>
  <div class="container">
    <div class="logo-container">
      <div class="logo"><a (click)="scrollToTop()" href="#landing-page" routerLink="">S<span class="s1">a</span>f<span class="s2">a</span></a></div>
     <a *ngIf="(en$ | async)" (click)="scrollToTop()" routerLink="impressum">Imprint</a>
     <a *ngIf="(de$ | async)"(click)="scrollToTop()" routerLink="impressum">Impressum</a>
    </div>
    <div class="copy">
      <span>© Safa Shamari 2024</span>
    </div>
    <div class="icons">
      <div class="icon">
          <a href="https://github.com/Safa325" target="_blank">
              <img src="/assets/img/Githubbutton.svg" alt="git">
          </a>
      </div>
      <div class="icon">
          <a href="mailto:shamarisafa@gmail.com">
              <img src="/assets/img/Emailbutton.svg" alt="email">
          </a>
      </div>
      <div class="icon">
          <a href="https://www.linkedin.com/in/safa-shamari-985b6b149/" target="_blank">
              <img src="/assets/img/Linkedinbutton.svg" alt="linkedin">
          </a>
      </div>
  </div>
  </div>
</footer>
