<section id="portfolio">
    <div class="container">
        <div class="title-container">
            <div class="title-header">
                <div class="bar"></div><h1>Portfolio</h1>
            </div>
            <span *ngIf="( en$ | async)">
                Explore a selection of my work here - Interact with projects to see my skills in action.
            </span>
            <span *ngIf="( de$ | async)">
                Erkunden Sie hier eine Auswahl meiner Arbeiten - Interagieren Sie mit Projekten, um meine Fähigkeiten in Aktion zu sehen.
            </span>
        </div>
        <div class="portfolio-container">
            <div class="portfolio" *ngFor="let portfolio of portfolios">

                <img src="{{ portfolio.img }}" alt="{{ portfolio.title }}">
                <div class="shadow">
                    <img src="/assets/img/Vector 5.svg" alt="shadow">
                </div>
                <div class="portfolio-description">
                    <div class="dc-top">
                        <div class="btn-git">
                            <a href="{{ portfolio.githublink }}" target="_blank"><button>Github</button></a>
                        </div>
                        <div class="btn-link">
                            <a href="{{ portfolio.website }}" target="_blank"><button>Live test</button></a>
                        </div>
                    </div>
                    <div class="dc-bottom">
                        <h2>{{ portfolio.title }}</h2>
                        <span>{{ portfolio.description }}</span>
                        <span class="green">{{ portfolio.skills }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bk-shadow1">
        <img src="/assets/img/Blue shadow 1.svg" alt="">
    </div>
    <div class="bk-shadow2">
        <img src="/assets/img/Green shadow.svg" alt="">
    </div>
</section>
